body {
    opacity: 0;
    transition: opacity 0.5s ease;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    align-items: stretch;
    background-size: cover;
    color: #333;
    height: 100%;
}

.menu:hover + .content {
    padding-left: 150px; /* Добавьте это свойство */
}


.container {
    display: flex;

    height: 100%;
    position: relative; /* Добавлено */
}
.menu {
    z-index: 100000;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    width: 100px;
    background: rgba(255, 255, 255, 0.349);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    transition: width 0.3s ease;
}
.menu:hover {
    width: 200px;
}
.menu:hover .menu-item{
    border-radius: 50px;
    width: 150px;
}
.itemHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
}



.menu-item {
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 60px;
    min-height: 60px;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.37);
    border-radius: 
    50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}
.menu-item:hover {
    background: rgba(255,255,255,0.4);
    transform: scale(1.1);

}
.menu-item span {
    font-size: 24px;
}
.content {
    transition: all 0.3s ease;
    flex-grow: 1;
    padding-left: 140px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;

    overflow-y: auto;
}
.section {
    background: rgba(255, 255, 255, 0.562);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}
.section:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0,0,0,0.15);
}


.photo {
    will-change: transform;
    border-radius: 5px;
    transform: translateZ(0);
    flex-grow: 1;
    max-width: 500px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.39);
    margin: 10px;
    padding: 0;
}

.photo:hover {
    
    transform: null;
    box-shadow: 0 6px 8px rgba(0,0,0,0.15);
}

.marketplaces
{  background: rgba(255, 255, 255, 0.562);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 0px;

    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    width: 50px;
    height: 50px;
}
.marketplaces:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0,0,0,0.15);
}

h1 {
    color: #4a76a8;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}
h2 {
    color: #4a76a8;
    border-bottom: 2px solid #4a76a8;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.item {
    margin-bottom: 20px;
}
.item h3 {
    margin-bottom: 10px;
    color: #2c3e50;
}
.item p {
    margin: 5px 0;
}
.telegram-button {
    background-color: #0088cc;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 25px;
    display: inline-block;

    margin-bottom: 20px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.telegram-button:hover {
    background-color: #006699;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0,0,0,0.15);
}
.emoji {
    font-size: 1.2em;
    margin-right: 5px;
}
@media (max-width: 768px) {
    
    .menu:hover + .content {
        padding-left: 20px; /* Добавьте это свойство */
    }
    .container {
        flex-direction: column;
    }
    .menu {
        overflow-y: hidden;
        overflow-x: auto;
        white-space: nowrap;
        height: 80px;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0;
    }
    .menu:hover {
        width: 100%;
    }
    .menu-item {
        margin-bottom: 0;
        
    }
    .content {
        padding-top: 80px;
        padding-left: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
    }
}
