@font-face {
    font-family: 'MyFont-Bold';
    src: url('.../fonts/AmaticSC-Bold.ttf') format('truetype');
}
* {
    transition: all 5s ease;
  }
@font-face {
    font-family: 'MyFont-Regular';
    src: url('../../fonts/AmaticSC-Regular.ttf') format('truetype');
}


:root {
    background: #000000;
    --color-dark: #000000;
    --color-light: #ffffff;
    --gradient-end: #ffcccc;
   
}

/* Скрываем стандартную полосу прокрутки */
html {
    background: var(--color-light);
    overflow: auto;
    transition: all 2s ease;
}
div.main {
 
}



body {
    font-size: 40px;
    color: #f1f1f1;
    height: 100vh;
    margin: 0;
    background-size: cover;
    font-family: 'MyFont-Regular';
}



@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  * {
    animation-name: fadeIn;
    animation-duration: 1s;
  }



/* Создаем свою полосу прокрутки */
html::-webkit-scrollbar {
    width: 0px; /* Ширина полосы */
}

/* Фон полосы прокрутки */
html::-webkit-scrollbar-track {
    background: #f1f1f1; /* Цвет фона */
}

/* Цвет ползунка прокрутки */
html::-webkit-scrollbar-thumb {
    background: #888; /* Цвет ползунка */
}

/* Цвет ползунка при наведении */
html::-webkit-scrollbar-thumb:hover {
    background: #555; /* Цвет при наведении */
}






@media (prefers-color-scheme: dark) {
    :root {
        --color-light: var(--color-dark);
    }
}



emote {
    justify-content: center;
    align-items: center;
    display: inline-block;
    width: 50;
    height: 50;

    border-radius: 8px;
  
}
emote img {
    width: 100%;
    height: 100%;
     border-radius: 8px;
}


.bigP {
    font-size: 250px;
}
